<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>template</title>
</head>
<body>
     <h1>Welcome to the text Analyazer. Enter the text. </h1>
     <form action="/analyze" method="get">
          <textarea name="text" id="" cols="30" rows="10" style="width: 609px; height: 124px;">
          </textarea>
          <br>
          <input type="checkbox" name="removepunc"> Remove Puncuations<br>
          <button type="submit">Analyze Text</button>
     </form>
</body>
</html>